div, td {
    background-color: #333333 !important;
    color: #DDDDDD !important;
    border-color: #777777 !important;
}

/* Removes large whitespace on top of guest homepage */
div.locationPane div.contentPaneWide div#content div.container {
    margin-top: 0% !important;
}

/* Pop-up boxes */
div.lb-wrapper {
    padding: 2px !important;
}

/* Did you know and Seneca Spotlight sections */
table {
    background-color: #555555 !important;
}
th, .smallCell, .typeWidth {
    background-color: #444444 !important;
    border-color: #777777 !important;
    color: #DDDDDD !important;
}

/* Log in text */
#login ul li {
    background-color: #555555 !important;
}

/* Titles in boxes (e.g. Login Here, College Services etc.) */
h2 {
    background-color: #444444 !important;
}
/* Thick box borders inside BlackBoard once logged in*/
.b1, .b2, .b3, .b4, .b4b, .b3b, .b2b, .b1b {
    background-color: #777777 !important;
}

/* Login section (username and password) */
#login ul li {
    color: #DDDDDD !important;
}

/* All unwrapped text */
body {
    color: #DDDDDD !important;
}

/* Other text on the homepage */
p, em, label, h3, span, h4 {
    color: #DDDDDD !important;
}

/* Text in divs */
div p {
    background-color: #333333 !important;
}

/* Brightens the text that was red on the original page*/
a, summary {
    color: #FF4040 !important;
}

/* Little tabs over certain tables */
#tab_20101223085537, #tab_20101223090238,
#tab_20151028101507, #tab_20151028101628,
#tab_20151028101103, #tab_20151028101324,
#tab_20061123134214, #tab_20061123132217,
#tab_20061123135107, #tab_20061123135844 {
    background-color: #555555 !important;
    color: #DDDDDD !important;
}

/* User Drop Down Menu Once Logged In */
#vertical_container span, #global_nav_tools_section-title span, 
#global_nav_settings_section-title span, #global-nav-link,
#global-nav-flyout, #global-list-tools, #global-nav-tools {
    background-color: #555555 !important;
}

/* My.Seneca Home and Notifications Dashboard */
div.paneTabs, ul#paneTabs {
    background-color: #555555 !important;
}

/* My.Seneca Tools and Notification Dashboard Button Text */
ul#paneTabs li a {
    color: #DDDDDD !important;
}

/* Small buttons inside BB (View Description and Grading Criteria under MyGrades */
input.genericButton {
    color: #FF4040 !important;
}